# Secrets
.env
.dev.env

# Program related
process_pids/
kernel_connection_file.json
app.log

# Python stuff
*.egg-info/
venv
__pycache__/

# IDE
.vscode/

# Logs
*.log

dist/
build/
gptcodeui/

#docker
ERROR*
*stage-*
Dockerfile
